<% if @alluserContent.present? %>
  <div class="container">
    <div class="row">
      <% if @userContent.present?%>
        <%= link_to "Export Timeline", root_path(:format => :csv ), :class=>"btn btn-secondary pull-right" %>
        <h1><%= @userContent.total_count %> Moments Found</h1>
        <%= render :partial => 'layouts/table', :locals => {:collection => @userContent}%>
      <% else %>
        <br>
        <div class="center">
        <h1> Sorry No Results Found...</h1>
        <h1>
          <%= link_to fitbit_path do %>
          <i class="fa fa-heartbeat" aria-hidden="true"></i> Fitbit</h1>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>
<%else%>
  <div class="container">
    <div class="row">
      <div class="center">
        <h1>
          <%= link_to channels_path do%>
            Please Log Into a Channel and Pull Some Data! :D
          <%end%>
        </h1>
      </div>
    </div>
  </div>
<%end%>
