<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<hr>
  <%=@all_users.count %> Account
<hr>

<% if user_signed_in? %>
  <h3>Signed Into BlackBox as <%= current_user.email%></h3><br>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %><br>
  <hr>
  <% if !@facebook.present? %>
    <%= link_to "Facebook Login", user_omniauth_authorize_path(:facebook) %><br>
  <%else%>
    <h3>Signed In With Facebook as <%=current_user.identities.where(:provider => "facebook").first.username %></h3><br>
    <% @userPosts.each do |post| %>
      ID <%= post.id %>:
      Kind <%= post.kind%>:
      Title <%= post.title %>:
      Body <%= post.body %><br>
      Log: <%= post.log %><br>
    <%end%>
  <%end%>
  <hr>
  <% if !@twitter.present? %>
    <%= link_to "Twitter Login", user_omniauth_authorize_path(:twitter) %><br>
  <%else%>
    <h3>Signed In With Twitter as <%=current_user.identities.where(:provider => "twitter").first.username %></h3><br>
    <% @userTweets.each do |tweet| %>
      ID <%= tweet.id %>:
      Kind <%= tweet.kind%>:
      Title <%= tweet.title %>:
      Body <%= tweet.body %><br>
      Log: <%= tweet.log %><br>
    <%end%>
    <hr>
  <%end%>
  <hr>
  <% if !@foursquare.present? %>
    <%= link_to "Foursquare Login", user_omniauth_authorize_path(:foursquare) %><br>
  <%else%>
    <h3>Signed In With Foursquare as <%=current_user.identities.where(:provider => "foursquare").first.username %></h3><br>
    <% @userCheckins.each do |checkin| %>
      ID <%= checkin.id %>:
      Kind <%= checkin.kind%>:
      Title <%= checkin.title %>:
      Body <%= checkin.body %><br>
      Log: <%= checkin.log %><br>
    <%end%>
  <%end%>
  <hr>
  <% if !@github.present? %>
    <%= link_to "Github Login", user_omniauth_authorize_path(:github) %><br>
  <%else%>
    <h3>Signed In With Github as <%=current_user.identities.where(:provider => "github").first.username %></h3><br>
  <%end%>
  <hr>
  <% if !@fitbit.present? %>
    <%= link_to "Fitbit Login", user_omniauth_authorize_path(:fitbit) %><br>
  <%else%>
    <h3>Signed In With Fitbit as <%=current_user.identities.where(:provider => "fitbit").first.username %></h3><br>
    <% @userActivities.each do |activity| %>
      ID <%= activity.id %>:
      Kind <%= activity.kind %>:
      Title <%= activity.title%>:
      Body <%= activity.body %><br>
      Log: <%= activity.log %><br>
    <%end%>
    <hr>
  <%end%>
  <hr>
<%else%>
  <%= link_to "Twitter Login", user_omniauth_authorize_path("twitter") %><br>
<%end%>

