<div class="row">
  <div class="col-xs-12 center">
    <div id="welcomeWrapper">
      <h2 class="verticalCenter">
        <% unless user_signed_in? %>
          <%= link_to user_omniauth_authorize_path("twitter") do%>
            <i class="fa fa-twitter"></i> Twitter Sign In
          <%end%>
        <%end%>
      </h2>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <h3>Signed Into BlackBox as <%= current_user.email%></h3><br>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class=>"btn btn-primary btn-lg" %><br>
  <hr>

  <% if !@facebook.present? %>
    <%= link_to "Facebook Login", user_omniauth_authorize_path(:facebook), :class=>"btn btn-primary btn-lg"  %><br>
  <%else%>
    <h3>Signed In With Facebook as <%=current_user.identities.where(:provider => "facebook").first.username %></h3><br>
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <tr>
          <td>ID</td>
          <td>Kind</td>
          <td>Title</td>
          <td>Body</td>
          <td>Date/Time</td>
          <td>Log</td>
        </tr>
        <% @userPosts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td><%= post.kind%></td>
            <td><%= post.title%></td>
            <td><%= post.body%></td>
            <td><%= post.created_at%></td>
            <td><%= truncate(post.log, length:100)%></td>

          </tr>
        <%end%>
      </table>
    </div>
  <%end%>
  <hr>
  <% if !@twitter.present? %>
    <%= link_to "Twitter Login", user_omniauth_authorize_path(:twitter), :class=>"btn btn-primary btn-lg" %><br>
  <%else%>
    <h3>Signed In With Twitter as <%=current_user.identities.where(:provider => "twitter").first.username %></h3><br>
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <tr>
          <td>ID</td>
          <td>Kind</td>
          <td>Title</td>
          <td>Body</td>
          <td>Date/Time</td>
          <td>Log</td>
        </tr>
        <% @userTweets.each do |tweet| %>
          <tr>
            <td><%= tweet.id %></td>
            <td><%= tweet.kind%></td>
            <td><%= tweet.title%></td>
            <td><%= tweet.body%></td>
            <td><%= tweet.created_at%></td>
            <td><%= truncate(tweet.log, length:100)%></td>
          </tr>
        <%end%>
      </table>
    </div>
    <hr>
  <%end%>
  <hr>
  <% if !@foursquare.present? %>
    <%= link_to "Foursquare Login", user_omniauth_authorize_path(:foursquare), :class=>"btn btn-primary btn-lg" %><br>
  <%else%>
    <h3>Signed In With Foursquare as <%=current_user.identities.where(:provider => "foursquare").first.username %></h3><br>
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <tr>
          <td>ID</td>
          <td>Kind</td>
          <td>Title</td>
          <td>Body</td>
          <td>Date/Time</td>
          <td>Log</td>
        </tr>
        <% @userCheckins.each do |checkin| %>
          <tr>
            <td><%= checkin.id %></td>
            <td><%= checkin.kind%></td>
            <td><%= checkin.title%></td>
            <td><%= checkin.body%></td>
            <td><%= checkin.created_at%></td>
            <td><%= truncate(checkin.log, length:100)%></td>
          </tr>
        <%end%>
      </table>
    </div>
  <%end%>
  <hr>
  <% if !@github.present? %>
    <%= link_to "Github Login", user_omniauth_authorize_path(:github), :class=>"btn btn-primary btn-lg" %><br>
  <%else%>
    <h3>Signed In With Github as <%=current_user.identities.where(:provider => "github").first.username %></h3><br>
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <tr>
          <td>ID</td>
          <td>Kind</td>
          <td>Title</td>
          <td>Body</td>
          <td>Date/Time</td>
          <td>Log</td>
        </tr>
        <% @userGithub.each do |git| %>
          <tr>
            <td><%= git.id %></td>
            <td><%= git.kind%></td>
            <td><%= git.title%></td>
            <td><%= git.body%></td>
            <td><%= git.created_at%></td>
            <td><%= truncate(git.log, length:100)%></td>
          </tr>
        <%end%>
      </table>
    </div>
  <%end%>
  <hr>
  <% if !@fitbit.present? %>
    <%= link_to "Fitbit Login", user_omniauth_authorize_path(:fitbit), :class=>"btn btn-primary btn-lg" %><br>
  <%else%>
    <h3>Signed In With Fitbit as <%=current_user.identities.where(:provider => "fitbit").first.username %></h3><br>
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <tr>
          <td>ID</td>
          <td>Kind</td>
          <td>Title</td>
          <td>Body</td>
          <td>Date/Time</td>
          <td>Log</td>
        </tr>
        <% @userActivities.each do |activity| %>
          <tr>
            <td><%= activity.id %></td>
            <td><%= activity.kind%></td>
            <td><%= activity.title%></td>
            <td><%= activity.body%></td>
            <td><%= activity.created_at%></td>
            <td><%= truncate(activity.log, length:100)%></td>
          </tr>
        <%end%>
      </table>
    </div>
  <%end%>
  <hr>
<%else%>

<%end%>

