<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<hr>
  <%=@all_users.count %> Account
<hr>

<% if user_signed_in? %>
  <%= current_user.email%><br>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %><br>

  <% if !@facebook.present? %>
    <%= link_to "Facebook Login", user_omniauth_authorize_path(:facebook) %><br>
  <%else%>
    Signed In With Facebook <%=current_user.identities.where(:provider => "facebook").first.username %><hr>
  <%end%>
  <% if !@twitter.present? %>
    <%= link_to "Twitter Login", user_omniauth_authorize_path(:twitter) %><br>
  <%else%>
    Signed In With Twitter <%=current_user.identities.where(:provider => "twitter").first.username %><hr>
    <% @userTweets.each do |tweet| %>
      <%= tweet.id %>:
      <%= tweet.kind%>:
      <%= tweet.title %>:
      <%= tweet.body %><br>
      <%= tweet.log %><br>
    <%end%>
    <hr>
  <%end%>

  <% if !@foursquare.present? %>
    <%= link_to "Foursquare Login", user_omniauth_authorize_path(:foursquare) %><br>
  <%else%>
    Signed In With Foursquare <%=current_user.identities.where(:provider => "foursquare").first.username %><br>
    <% @userCheckins.each do |checkin| %>
      <%= checkin.id %>:
      <%= checkin.kind %>:
      <%= checkin.title%>:
      <%= checkin.body %><br>
      <%= checkin.log %><br>
    <%end%>
    <hr>
  <%end%>

  <% if !@github.present? %>
    <%= link_to "Github Login", user_omniauth_authorize_path(:github) %><br>
  <%else%>
    Signed In With Github <%=current_user.identities.where(:provider => "github").first.username %><br>
  <%end%>

  <% if !@fitbit.present? %>
    <%= link_to "Fitbit Login", user_omniauth_authorize_path(:fitbit) %><br>
  <%else%>
    Signed In With Fitbit: <%=current_user.identities.where(:provider => "fitbit").first.username %><br>
    <% @userActivities.each do |activity| %>
      <%= activity.id %>:
      <%= activity.kind %>:
      <%= activity.title%>:
      <%= activity.body %><br>
      <%= activity.log %><br>
    <%end%>
    <hr>
  <%end%>

<%else%>
  <%= link_to "Sign In", new_user_session_path()%><br>
<%end%>

