<div class="container">
  <div id ="fitbitChannel" class="row">
    <div class="row">
      <div class="col-xs-12">
        <h1><i class="fa fa-heartrate"></i> Fitbit</h1>
      </div>
    </div>
    <div class="row">
      <% if @fitbit.present? %>
        <% if @fitbitContent.present? %>
          <h3><%= @numberOfDays%> Days</h3>
          <% for index in 0..@days do%>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <% if @fitbitContent.present? %>
                <%= link_to showDay_path(Date.today - index.days) do %>
                  <h3>
                    <%= Date.today - index.days %>
                  </h3>
                  <div id="fitbitGraph<%=index.to_s%>", data-url="<%= index %>", data-day="<%= @numberOfDays %>", class="fitGraph fitGraphSmall"></div>
                <%end%>
              <%else%>
                <h1 class="center">No data for this day :(</h1>
              <%end%>
            </div>
          <%end%>
          <% if @days < @numberOfDays %>
            <h4 class="center">... <%=@numberOfDays - @days %> more</h4>
          <%end%>
        <%end%>

        <div class="col-xs-12">
            <%# area_chart @allUserFitbit.group_by_day(:created_at).maximum(:body) %>
          <%= link_to sign_out_provider_path(:provider => "fitbit_oauth2") do%>
            <h3 class="pull-right">Sign Out Fitbit</h3>
          <%end%>
          <h2><%= @userContent.total_count%> Fitbit Data</h2>
          <!-- <div class="row">
            <div class="col-sm-6">
              <h5 class="center">Hours of Sleep / Night</h5>
              <%= area_chart @fitbitSleepChart%>
            </div>
            <div class="col-sm-6">
              <%# pie_chart @allUserFitbit.group(:kind).count %>
            </div>
          </div> -->
          <h5 class="pull-right">
            <%= link_to fitbit_intra_heart_path do%>
              <i class="fa fa-refresh"></i> Update
            <%end%>|
            <%= link_to fitbit_path(:format => :csv ) do%>
              Export Data
            <%end%>
          </h5>

          <% if @userContent.present? %>
            <%= render :partial => 'layouts/table', :locals => {:collection => @userContent}%>
          <%end%>
        </div>
      <%else%>
        <div id = "signedOutChannel">
          <div class="channelHeader center">
            <%= link_to user_omniauth_authorize_path(:fitbit_oauth2) do%>
              <h1> Sign On </h1>
            <%end%>
          <hr>
          </div>
          <div class="channelRequests col-xs-6">
            <h4>This channel requests</h4>
            <ul>
              <li>Profile information</li>
              <li>Fitbit history</li>
            </ul>
          </div>
          <div class="channelAbility col-xs-6">
            <h4>With this channel you can</h4>
            <ul>
              <li>Track your Fitbit history</li>
              <li>Export Fitbit data to csv</li>
            </ul>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
