<div id ="foursquareChannel" class="row">
  <div class="row">
    <div class="col-xs-12">
      <h1><i class="fa fa-foursquare"></i> Foursquare</h1>
    </div>
  </div>
  <div class="row">
    <% if @foursquare.present? %>
      <%= link_to sign_out_provider_path(:provider => "foursquare") do%>
        <h3 class="pull-right">Sign Out Foursquare</h3>
      <%end%>
      <h2><%= @userFoursquare.count%> Checkins</h2>
      <div class="row">
        <div class="col-sm-6">
          <!-- SHOW GRAPH HERE -->
        </div>
        <div class="col-sm-6">
          <!-- SHOW GRAPH HERE -->
        </div>
      </div>
      <h5 class="pull-right">
        <%= link_to all_foursquare_path do%>
          <i class="fa fa-refresh"></i> Update
        <%end%>|
        <%= link_to foursquare_path(:format => :csv ) do%>
          Export Data
        <%end%>
      </h5>
      <% if @userFoursquare.present? %>
        <h3>Raw Data</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Kind</th>
              <th>Body</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody>
            <% @userFoursquare.each do |foursquare| %>
              <tr>
                <td><%= foursquare.kind%></td>
                <td>
                  <%= link_to foursquare.external_link do %>
                  <%= foursquare.body %>
                  <%end%>
                </td>

                <td><%= foursquare.latitude %></td>
                <td><%= foursquare.longitude %></td>
                <td><%= foursquare.created_at.strftime("%F") %></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      <%end%>
      <%= paginate @userFoursquare %>
    <%else%>
      <div id = "signedOutChannel">
        <div class="channelHeader center">
          <%= link_to user_omniauth_authorize_path(:foursquare) do%>
            <h1> Sign On </h1>
          <%end%>
        <hr>
        </div>
        <div class="channelRequests col-xs-6">
          <h4>This channel requests</h4>
          <ul>
            <li>Profile information</li>
            <li>Checkin history</li>
          </ul>
        </div>
        <div class="channelAbility col-xs-6">
          <h4>With this channel you can</h4>
          <ul>
            <li>Track your foursquare history</li>
            <li>Export foursquare data to csv</li>
          </ul>
        </div>
      </div>
    <%end%>
  </div>
</div>
