<div id ="githubChannel" class="row">
  <div class="row">
    <div class="col-xs-12">
      <h1><i class="fa fa-github"></i> Github</h1>
    </div>
  </div>
  <div class="row">
    <% if @github.present? %>
      <%= link_to sign_out_provider_path(:provider => "github") do%>
        <h3 class="pull-right">Sign Out Foursquare</h3>
      <%end%>
      <h2><%= @userGithub.count%> Github Data</h2>
      <div class="row">
        <div class="col-sm-6">
          <!-- SHOW GRAPH HERE -->
        </div>
        <div class="col-sm-6">
          <!-- SHOW GRAPH HERE -->
        </div>
      </div>
      <h5 class="pull-right">
        <%= link_to get_github_repos_path do%>
          <i class="fa fa-refresh"></i> Update
        <%end%>|
        <%= link_to github_path(:format => :csv ) do%>
          Export Data
        <%end%>
      </h5>
      <% if @userGithub.present? %>
        <h3>Raw Data</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Kind</th>
              <th>Body</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody>
            <% @userGithub.each do |git| %>
              <tr>
                <td><%= git.kind%></td>
                <td>
                  <%= link_to git.external_link do %>
                  <%= git.body %>
                  <%end%>
                </td>
                <td><%= git.created_at.strftime("%F") %></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      <%end%>

    <%else%>
      <div id = "signedOutChannel">
        <div class="channelHeader center">
          <%= link_to user_omniauth_authorize_path(:github) do%>
            <h1> Sign On </h1>
          <%end%>
        <hr>
        </div>
        <div class="channelRequests col-xs-6">
          <h4>This channel requests</h4>
          <ul>
            <li>Profile information</li>
            <li>Github history</li>
          </ul>
        </div>
        <div class="channelAbility col-xs-6">
          <h4>With this channel you can</h4>
          <ul>
            <li>Track your github history</li>
            <li>Export github data to csv</li>
          </ul>
        </div>
      </div>
    <%end%>
  </div>
</div>
