<div class="container">
  <div id="channelsList" class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>Channels</h1>
      <h6><span class="pull-right"><%=current_user.id%> <%=current_user.email%></span></h6>
      <h6><%= @identities.count %> Connected</h6>
      <hr>
      <div id="socialChannels" class="row">
        <h3>Social</h3>

        <!-- TWITTER -->
        <% unless @twitter.present? %>
          <%= link_to twitter_path do%>
            <i class="fa fa-twitter"></i>
          <%end%>
        <%else%>
          <%= link_to twitter_path do%>
            <i class="fa fa-twitter yellow"></i>
          <%end%>
        <%end%>


      <div id="healthChannels" class="row">
        <h3>Health</h3>

        <!-- FITBIT -->
        <% unless @fitbit.present? %>
          <%= link_to fitbit_path do%>
            <i class="fa fa-heartbeat"></i>
          <%end%>
        <%else%>
          <%= link_to fitbit_path do%>
            <i class="fa fa-heartbeat yellow"></i>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
