<div id="channelsList" class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>Channels</h1>
    <h6><%= @identities.count %> Connected</h6>
    <hr>
    <div id="socialChannels" class="row">
      <h3>Social</h3>

      <!-- FACEBOOK -->
      <% unless @facebook.present? %>
        <%= link_to user_omniauth_authorize_path(:facebook) do%>
          <i class="fa fa-facebook"></i>
        <%end%>
      <%else%>
        <%= link_to sign_out_provider_path(:provider => "facebook") do%>
          <i class="fa fa-facebook yellow"></i>
        <%end%>
      <%end%>

      <!-- TWITTER -->
      <% unless @twitter.present? %>
        <%= link_to user_omniauth_authorize_path(:twitter) do%>
          <i class="fa fa-twitter"></i>
        <%end%>
      <%else%>
        <%= link_to sign_out_provider_path(:provider => "twitter") do%>
          <i class="fa fa-twitter yellow"></i>
        <%end%>
      <%end%>

      <!-- FOURSQUARE -->
      <% unless @foursquare.present? %>
        <%= link_to user_omniauth_authorize_path(:foursquare) do%>
          <i class="fa fa-foursquare"></i>
        <%end%>
      <%else%>
        <%= link_to sign_out_provider_path(:provider => "foursquare") do%>
          <i class="fa fa-foursquare yellow"></i>
        <%end%>
      <%end%>

      <!-- INSTAGRAM -->
      <% unless @instagram.present? %>
        <%= link_to user_omniauth_authorize_path(:instagram) do%>
          <i class="fa fa-instagram"></i>
        <%end%>
      <%else%>
        <%= link_to sign_out_provider_path(:provider => "instagram") do%>
          <i class="fa fa-instagram yellow"></i>
        <%end%>
      <%end%>
    </div>

    <div id="healthChannels" class="row">
      <h3>Health</h3>

      <!-- FITBIT -->
      <% unless @fitbit.present? %>
        <%= link_to user_omniauth_authorize_path(:fitbit_oauth2) do%>
          <i class="fa fa-heartbeat"></i>
        <%end%>
      <%else%>
        <%= link_to sign_out_provider_path(:provider => "fitbit_oauth2") do%>
          <i class="fa fa-heartbeat yellow"></i>
        <%end%>
      <%end%>
    </div>

    <div id="homeChannels" class="row">
      <h3>Home</h3>
      <i class="fa fa-car"></i>
    </div>
    <div id="musicChannels" class="row">
      <h3>Music</h3>
      <i class="fa fa-spotify"></i>
    </div>
    <div id="productivityChannels" class="row">
      <h3>Productivity</h3>
      <!-- FITBIT -->
      <% unless @github.present? %>
        <%= link_to user_omniauth_authorize_path(:github) do%>
          <i class="fa fa-github"></i>
        <%end%>
      <%else%>
        <%= link_to sign_out_provider_path(:provider => "github") do%>
          <i class="fa fa-github yellow"></i>
        <%end%>
      <%end%>
      <i class="fa fa-dropbox"></i>
    </div>
  </div>
</div>

