<div id ="instagramChannel" class="row">
  <div class="row">
    <div class="col-xs-12">
      <h1><i class="fa fa-instagram"></i> Instagram</h1>
    </div>
  </div>
  <div class="row">
    <% if @instagram.present? %>
      <%= link_to sign_out_provider_path(:provider => "instagram") do%>
        <h3 class="pull-right">Sign Out Instagram</h3>
      <%end%>
      <h2><%= @userInstagram.count%> Pictures</h2>
      <div class="row">
        <div class="col-sm-6">
          <!-- SHOW GRAPH HERE -->
        </div>
        <div class="col-sm-6">
          <!-- SHOW GRAPH HERE -->
        </div>
      </div>
      <h5 class="pull-right">
        <%= link_to "#" do%>
          <i class="fa fa-refresh"></i> Update
        <%end%>|
        <%= link_to instagram_path(:format => :csv ) do%>
          Export Data
        <%end%>
      </h5>
      <% if @userInstagram.present? %>
        <h3>Raw Data</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Kind</th>
              <th>Body</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody>
            <% @userInstagram.each do |instagram| %>
              <tr>
                <td><%= instagram.kind%></td>
                <td>
                  <%= link_to instagram.external_link do %>
                  <%= instagram.body %>
                  <%end%>
                </td>

                <td><%= instagram.latitude %></td>
                <td><%= instagram.longitude %></td>
                <td><%= instagram.created_at.strftime("%F") %></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      <%end%>

    <%else%>
      <div id = "signedOutChannel">
        <div class="channelHeader center">
          <%= link_to user_omniauth_authorize_path(:instagram) do%>
            <h1> Sign On </h1>
          <%end%>
        <hr>
        </div>
        <div class="channelRequests col-xs-6">
          <h4>This channel requests</h4>
          <ul>
            <li>Profile information</li>
            <li>Picture history</li>
          </ul>
        </div>
        <div class="channelAbility col-xs-6">
          <h4>With this channel you can</h4>
          <ul>
            <li>Track your instagram history</li>
            <li>Export instagram data to csv</li>
          </ul>
        </div>
      </div>
    <%end%>
  </div>
</div>
