<% if @geojson.present? %>
  <div class="container-fluid">
    <div id="contentMap" class="contentsMapSection", data-url="/content/<%= @content.id %>.json"></div>
  </div>
<%else%>
  <!-- REQUST USER TO ADD LOCATION? WITH RUBY FUNCTION -->
<%end%>
<div class="container">
  <div class="col-sm-8">
    <h1><%= @content.title %></h1>
    <h4><%= @content.body %></h4>
    <h6><%= @content.location %>: <%= @content.longitude %>, <%= @content.latitude %></h6>
    <h6>
      <%= @content.provider.capitalize %> <%= @content.kind.capitalize %>
      on <%= @content.created_at.strftime("%b %e, %Y at %k:%M") %>
    </h6>
  </div>
  <div class="col-sm-4">
    <% if @content.image.present? %>
      <%= image_tag @content.image, :id=>"contentShowImage"%>
    <%end%>
  </div>
</div>
<div class="container-fluid">
  <!-- RELATED CONTENT -->
</div>
