<!DOCTYPE html>
<html>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
  <script src = "http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

  <head>
    <title>BeatWise</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%= render partial: "layouts/navbar" %>
    <%= render partial: "layouts/flash" %>

    <div class="container-fluid">
      <div id="bodyWrapper">
        <div id="mainWrapper">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>

  <%= render partial: "layouts/footer" %>

  <!-- CAN BE ACCESSED FROM ALL PAGES -->
  <div class="modal fade" id="userSignIn" tabindex="-1" role="dialog" aria-labelledby="userSignIn" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="userSignIn">Sign In or Sign Up</h4>
        </div>
        <div class="modal-body">
          <%= render partial: "layouts/login" %>
        </div>
      </div>
    </div>
  </div>

</html>
