<!DOCTYPE html>
<html>
  <head>
    <title>BlackBox</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div id="flashWrapper">
        <div class="alert alert-<%= key %> center"><%= value %></div>
      </div>
    <% end %>
    <div class="container-fluid">
      <div id="bodyWrapper">
        <div id="mainWrapper">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <%= render partial: "layouts/footer" %>
</html>
